/* RESET GLOBAL */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Video */
video {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.bg-img {
    width: 100%;
    background: url(../static/ceu.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}

/* Header */
h1, form, div {
    text-align: center;
    margin: 20px auto;
}

h1 {
    margin: 0;
    padding-top: 50px;
    color: white;
}

h3 {
    text-align: center;
    margin: 20px auto;
    padding-top: 50px;
    color: white;
}

select, input, p {
    padding: 15px;
}

select, input, nav{
    font-size: 18px;
    opacity: 0.8;
    border-radius: 10px;
    outline: none;
}

input{
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
}

input:hover {
    background-color: white;
    color: black;
}

nav {
    text-align: center;
    padding: 50px 20px 10px 20px;
}
nav > a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    outline: none;
    
}
nav > a:hover {
    background-color: white;
    color: black;
}

div {
    width: 25%;
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0px 0px 10px 5px grey; */
}

.titulo {
    text-align: center;
    padding: 10px;
    color: white;
}
.container {
    display: flex;
    border-radius: 0px;
    padding: 20px;
    width: 95%;
}
.prevext {
    border-radius: 20px 0 0 20px;
}
.prevint {
    border-radius: 0px;
} 
.prevext2 {
    border-radius: 0 20px 20px 0;
}

@media (max-width: 860px){
    body {
        overflow-x: hidden;
        text-align: center;
    }
    
    video {
        width: 300%;
    }

    div {
        width: 80%;
    }

    .bg-img {
        height: 200%;
        width: 200%;

    }
}
