<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP IPMA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>

    <video autoplay loop>
        <source src="{{ url_for('static', filename='clima.mp4')}}" type="video/mp4">
    </video>

    <img class="bg-img" src="{{ url_for('static', filename='ceu.jpg')}}" alt="" srcset="">

    <h1>Clima em Portugal</h1>

    <form method="post">
        <select name="cidade">
            <option value="">Escolha uma cidade</option>
            <option value="1110600">Lisboa</option>
            <option value="1030300">Porto</option>
            <option value="1141600">Santarém</option>
        </select>
        <input type="submit" value="Consultar">
    </form>
    
    <div>
        {% if clima %}
            <h2>Clima em {{ nome_cidade }}</h2>
            <img width="100px" src="{{ url_for('static', filename='chuva.svg')}}" alt="">
            <p>Temperatura Máxima: {{ clima.temperatura_max}}ºC</p>
            <p>Temperatura Mínima: {{ clima.temperatura_min}}ºC</p>
            <p>Probabilidade Precipitação: {{ clima.probabilidade_prec}}%</p>
            <p>Data Consulta: {{ clima.data_consulta}}</p>
        {% else %}
            <p>Escolha uma cidade para obter informações sobre o clima</p>
        {% endif %}
    </div>
    <div class="previsao5dias">
        {% if clima_dia_seguinte %}
            <h2>Previsão para {{ clima_dia_seguinte.data_consulta1 }}</h2>
            <p>Temperatura Máxima: {{ clima_dia_seguinte.temperatura_max1 }}ºC</p>
            <p>Temperatura Mínima: {{ clima_dia_seguinte.temperatura_min1 }}ºC</p>
            <p>Probabilidade Precipitação: {{ clima_dia_seguinte.probabilidade_prec1 }}%</p>
            <p>Data Consulta: {{ clima_dia_seguinte.data_consulta1 }}</p>
        {% else %}
            <p>Escolha uma cidade para obter informações sobre o clima</p>
        {% endif %}
    </div>
    
</body>
</html>