<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP IPMA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>

    <video autoplay loop>
        <source src="{{ video }}" type="video/mp4">
    </video>

    <nav>
        <a href="/">Home</a>
        <a href="/prev5dias">Previsão 5 dias</a>
    </nav>

    <h1>Clima em Portugal</h1>

    <form method="post">
        <select name="cidade">
            <option value="">Escolha uma cidade</option>
            <option value="1110600">Lisboa</option>
            <option value="1131200">Porto</option>
            <option value="1141600">Santarém</option>
            <option value="1010500">Aveiro</option>
            <option value="1020500">Beja</option>
            <option value="1030300">Braga</option>
            <option value="1040200">Bragança</option>
            <option value="1050200">Castelo Branco</option>
            <option value="1060300">Coimbra</option>
            <option value="1070500">Évora</option>
            <option value="1080500">Faro</option>
            <option value="1090700">Guarda</option>
            <option value="1100900">Leiria</option>
            <option value="1151200">Setúbal</option>
            <option value="1160900">Viana do Castelo</option>
            <option value="1171400">Vila Real</option>
            <option value="1182300">Viseu</option>
        </select>
        <input type="submit" value="Consultar">
    </form>
   
    
    <div>
        {% if clima %}
            <h2>Clima em {{ nome_cidade }}</h2>
            <img width="100px" src="{{ imagem }}" alt="Condições do tempo">
            <p>Temperatura Máxima: {{ clima.temperatura_max}}ºC</p>
            <p>Temperatura Mínima: {{ clima.temperatura_min}}ºC</p>
            <p>Probabilidade Precipitação: {{ clima.probabilidade_prec}}%</p>
            <p>Data Consulta: {{ clima.data_consulta}}</p>
        {% else %}
            <p>Escolha uma cidade para obter informações sobre o clima</p>
        {% endif %}
    </div>
    
</body>
</html>